<div class="services-container">
  <div class="main-header">
    <div class="header-text">
      <h1><%=t(:main_teaser_html)%><span class="dot">.</span></h1>
      <p><%=t(:second_teaser)%></p>
      <%= link_to "mailto:hello@guillaumecrouillere.fr", target: "blank", class: "get-in-touch" do %>
        <%= t(:brief )%>
      <% end %>
    </div>
  </div>
  <div class="services-box">
    <div class="empty-sm hidden-xs"></div>
    <div class="services">
      <div class="ecommerce col-xs-12 col-sm-6">
        <%= link_to "#ecommerce", class: "card-link" do %>
          <h2>E-commerce</h2>
          <p><%=t(:dedicated_app)%></p>
          <p><%=t(:deploy)%></p>
          <p><%=t(:custom_or_standard)%></p>
        <% end %>
      </div>
      <div class="training col-xs-12 col-sm-6">
        <%= link_to "#training", class: "card-link" do %>
          <h2><%=t(:training)%></h2>
          <p>Wordpress</p>
          <p>HTML & CSS</p>
          <p><%= t(:seo)%></p>
        <% end %>
      </div>
      <div class="show col-xs-12 col-sm-6">
        <%= link_to "#show", class: "card-link" do %>
          <h2><%= t(:showcase)%></h2>
          <p><%= t(:corporation)%></p>
          <p>Landing page</p>
          <p><%=t(:event)%></p>
        <% end %>
      </div>
      <div class="apps col-xs-12 col-sm-6">
        <%= link_to "#app", class: "card-link" do %>
          <h2><%=t(:web_app)%></h2>
          <p>Ruby on Rails</p>
          <p>Postgresql</p>
          <p>JS</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="slide-2-container">
  <div class="link-level" id="ecommerce"></div>
  <div class="main-header">
  </div>
  <div class="services-box">
    <div class="services">
      <h2>E-commerce</h2>
      <p><%=t(:thanks_to_ecommerce)%></p>
      <p><%=t(:this_application)%></p>
      <p><%=t(:benefits)%></p>
      <ul>
        <li><%=t(:admin)%></li>
        <li><%=t(:payment)%></li>
        <li><%=t(:secured)%></li>
        <li><%=t(:custom)%></li>
        <li><%=t(:responsive)%></li>
      </ul>
    </div>
  </div>
</div>
<div class="slide-3-container">
  <div class="link-level" id="training"></div>
  <div class="main-header">
  </div>
  <div class="services-box">
    <div class="services">
      <h2><%=t(:training).capitalize%></h2>
      <p><%= t(:training_intro)%></p>
      <p><%=t(:program)%></p>
      <ul>
        <li><%= t(:day_1)%></li>
        <li><%= t(:day_2)%></li>
        <li><%= t(:day_3)%></li>
        <li><%= t(:day_4)%></li>
      </ul>
      <p><%=t(:training_details)%></p>
<!--       <p>Retrouvez <%= link_to "tous les détails de cette formation ici.", "#", target: "blank", class: "link-animation" %></p> -->
    </div>
  </div>
</div>
<div class="slide-4-container">
  <div class="link-level" id="show"></div>
  <div class="main-header">
  </div>
  <div class="services-box">
    <div class="services">
      <h2><%= t(:showcase).capitalize%></h2>
      <p><%= t(:looking_for)%></p>
      <p><%=t(:from_landing_page)%></p>
      <p><%=t(:implementation)%></p>
      <ul>
        <li>Hélène Raynal, <%= link_to t(:hr_link), "https://www.heleneraynal.fr/", target: "blank", class: "link-animation" %></li>
        <li>La Tournée des Moustaches, <%= link_to t(:ty_link), "https://www.latourneedesmoustaches.fr/", target: "blank", class: "link-animation" %></li>
        <li>Sunsuelle, <%= link_to t(:sun_link), "https://sunsuelle.herokuapp.com/", target: "blank", class: "link-animation" %></li>
      </ul>
    </div>
  </div>
</div>
<div class="slide-5-container">
  <div class="link-level" id="app"></div>
  <div class="main-header">
  </div>
  <div class="services-box">
    <div class="services last-service">
      <h2><%=t(:web_app).capitalize%></h2>
      <p><%t(:looking_for_dev)%></p>
      <p><%t(:lets_chat)%></p>
      <p><%= t(:stack)%></p>
      <p><%=t(:ready)%></p>
      <div class="links">
        <%= link_to "https://www.linkedin.com/in/gcrouillerewebdeveloper", target: "blank" do %>
          <div class="hover-management-linkedin">
            <%= image_tag  "linkedin.svg", class: "link-before-linkedin"%>
            <%= image_tag  "linkedin-red.svg", class: "link-after-linkedin"%>
          </div>
        <% end %>
        <%= link_to "mailto:hello@guillaumecrouillere.fr", target: "blank", class: "mail-link" do %>
          <div class="hover-management-mail">
             <%= image_tag  "mail.svg", class: "link-before-mail"%>
             <%= image_tag  "mail-red.svg", class: "link-after-mail"%>
           </div>
        <% end %>
        <%= link_to "https://github.com/gcrouillere", target: "blank" do %>
          <div class="hover-management-github">
            <%= image_tag  "github.svg", class: "link-before-github"%>
            <%= image_tag  "github-red.svg", class: "link-after-github"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
.slide-2-container .services {
    background: #60999b;
    background-image: linear-gradient(135deg, rgba(96, 153, 155, 0.96), rgba(96, 153, 155, 0.87)), url(<%= image_path "pattern-e-commerce.svg"%>);
}
.slide-3-container .services {
    background: #82a1b2;
    background-image: linear-gradient(135deg, rgba(130, 161, 178, 0.96), rgba(130, 161, 178, 0.87)), url(<%= image_path "pattern-training.svg"%>);
}
.slide-4-container .services {
    background: #2e5b77;
    background-image: linear-gradient(135deg, rgba(46, 91, 119, 0.96), rgba(46, 91, 119, 0.87)), url(<%= image_path "pattern-show.svg"%>);
}
.slide-5-container .services {
    background: #1C1B20;
    background-image: linear-gradient(135deg, rgba(28, 27, 32, 0.96), rgba(28, 27, 32, 0.87)), url(<%= image_path "pattern-app.svg" %>);
}
</style>
