<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Guillaume Crouillère - Développeur Web</title>
    <meta name="description" content="Je vous accompagne dans tous vos projets web. A la fois développeur web et prestataire de formation, je dispose de tous les outils pour réaliser votre projet web.">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Guillaume Crouillère - Développeur Web" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url(image_path('logo-panoramic.jpg')) %>" />
    <meta property="og:description" content="Je vous accompagne dans tous vos projets web. A la fois développeur web et prestataire de formation, je dispose de tous les outils pour réaliser votre projet web." />
    <meta property="og:site_name" content="Guillaume Crouillère" />

    <link rel="alternate" hreflang="fr" href="<%=request.original_url+"?locale=fr"%>"/>
    <link rel="alternate" hreflang="en" href="<%=request.original_url+"?locale=en"%>"/>
    <link rel="alternate" hreflang="x-default" href="<%=request.original_url%>"/>
    <meta name="google-site-verification" content="QKW6NMnkfFFgqubjpUQgCS29wNVMywfnbN4kJ8uIwUw" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag %>
    <%= render 'shared/google_analytics' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
